main {
    margin-bottom: 8em;
}
legend {
    cursor: pointer;
}
input[type=number] {
    text-align: right;
}
legend:hover {
    color: #007bff;
}
.container {
    max-width: 680px;
}
.asc:after {
    content: "\21E1";
    margin-left: .25em;
}
.desc:after {
    content: "\21E3";
    margin-left: .25em;
}

.modal-title {
    font-size: 1.5rem;
}
